<div class="col-md-2 contain-center">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<h2>Log in</h2>
	  <fieldset id="inputs">
	  	<%= f.email_field :email, autofocus: true, id: "email" , placeholder: "Email"%>
	    <%= f.password_field :password, autocomplete: "off", id: "password", placeholder: "Password" %>
	   </fieldset>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>
		<fieldset id="actions">
				<%= f.submit "Log in" , id: "submit"%>
				<%= render "devise/shared/links" %>
    </fieldset>
	<% end %>
</div>
