<% if flash[:ingredienterror] %>
  <p class="error">
    <%= h flash[:ingredienterror] %>
  </p>
<% end %>

<div class="add-ingredient">
  <% # This form should link to an update route to add ingredients %>
  <%= form_for(@pantry) do |i| %>
    <%= select_tag 'ingredient', options_from_collection_for_select(Ingredient.all, 'id', 'name') %>
    <%= submit_tag "Add Ingredient" %>
  <% end %>
</div>
<div class="pantry-list">
  <ul>
    <%= form_for(@pantry) do |f|%>
      <% @pantry.ingredients.each do |ingredient| %>
        <div class="pantry-ingredient">
          <%= hidden_field_tag "pantry[ingredient_ids][]", nil %>
          <%= check_box_tag "pantry[ingredient_ids][]", ingredient.id , false, id: dom_id(ingredient)%>
          <%= label_tag dom_id(ingredient), ingredient.name %>
            <%= link_to "X", method: :post, class: "btn btn-small btn-danger" %>
          <%= button_to "Delete Ingredient", { action: "update", controller: "pantries", id: ingredient.id }, { method: :post, button_class: "btn btn-small btn-danger" } %>
        </div>
      <% end %>
      <%= submit_tag "Delete Ingredients", class: "btn btn-default" %>
  	<% end %>
  </ul>
</div>