<% if flash[:ingredienterror] %>
  <p class="error">
    <%= h flash[:ingredienterror] %>
  </p>
<% end %>

<div class="add-ingredient">
  <% # This form should link to an update route to add ingredients %>
  <%= form_for(@pantry) do |i| %>
    <%= select_tag 'ingredient', options_from_collection_for_select(Ingredient.all, 'id', 'name') %>
    <%= submit_tag "Add Ingredient" %>
  <% end %>
</div>
<div class="pantry-list">
  <%= form_for(@pantry) do |f|%>
    <ul id="ingredients" data-update-url="<%= sort_pantries_url %>">
      <% @ingredients.each do |ingredient| %>
        <%= content_tag_for :li, ingredient do %>
          <%= hidden_field_tag "pantry[ingredient_ids][]", nil %>
          <%= check_box_tag "pantry[ingredient_ids][]", ingredient.id , false, id: dom_id(ingredient)%>
<<<<<<< HEAD
          <%= label_tag dom_id(ingredient), ingredient.name %>
            <%= link_to "X", method: :post, class: "btn btn-small btn-danger" %>
          <%= button_to "Delete Ingredient", { action: "update", controller: "pantries", id: ingredient.id }, { method: :post, button_class: "btn btn-small btn-danger" } %>
        </div>
=======
          <%= label_tag dom_id(ingredient), ingredient.name %>  [drag] <br>
        <% end %>
>>>>>>> sortable_pantry
      <% end %>
    </ul>
  <%= submit_tag "Delete Ingredients", class: "btn btn-default" %>
  <% end %>
</div>