<div class="outer-recipe contain-center">

	<div class="row">
		<div class="row1">

		  <div id="block-button">
		    <%= button_to "Block", { controller: :users, action: "block", id: @recipe.id }, {class: 'btn'} %>
		  </div>

		  <div id="save-button">
		  	<%= button_to "Save", { controller: :users, action: "save", id: @recipe.id }, { class: 'btn' } %>
		  </div>
		  
		  <div class="recipe">
		    <div id="recipe-name">
		      <%= @recipe.name %>
		     </div>
		     <div id="recipe-picture">
		      <%= image_tag @recipe.image.url(:medium) %>
		    </div>
		    <div class="times">
		    	<strong>Prep Time:</strong> <%= @recipe.prep_time %> min<br>
		    	<strong>Cook Time:</strong> <%= @recipe.cook_time %> min
		    </div>
		  </div>

		</div>
	 </div>

	 <div class="row">
	 	<div class="row2">
		 	<div class="bottomleft">
		 		<%= render 'recipes/ingredients' %>
		 	</div>
		 	<div class="bottomright">
		 		<%= render 'recipes/instructions' %>
		 	</div>
		 </div>
	 </div>

</div>