<% #@recipe_name is the instance variable passed to this view %>

<div class="outer-roulette contain-center">

  <div id="skip">
    <button class="btn" type="button">Skip</button>
  </div>

  <div id="open" class='btn'>
    <%= link_to "View", 'http://willbeinsertedby.js', :class => 'btn' %> 
    <% #button_to "View", 'http://willbeinsertedby.js', :method => :get, :class => 'btn' %>
  </div>

  <div class="row" id="row1">
  
    <div class="roulette contain-center">
      <div id="recipe-name">
        <%= @recipe_name %>
      </div>

      <div id="roulette-picture">
        <%= image_tag "#{@recipe_name}.jpg" %>
      </div>
    </div> <!-- end of roulette -->

  </div> <!-- end of row1 -->

  <br>
  <div class="row contain-center block-div">
    <div id="block">
      <%= button_to "Block", 'http://willbeinsertedby.js', {class: 'btn'} %>
    </div>
  </div>

</div> <!-- end of outer roulette -->

<script type="text/javascript">
  var list_of_recipe_names = <%= raw @list_of_recipe_names.to_json %>;
  <%= render 'roulettebuttons.js' %>
</script>
