<% #@recipe_name is the instance variable passed to this view %>

<div class="row" id="row1">

  <div class="outer-roulette contain-center">
    
    <div class="col-md-8" id="skip">
        <button class="btn" type="button">Skip</button>
    </div>

    <div class="roulette col-md-8 contain-center">

      <div id="recipe-name">
        <%= @recipe_name %>
      </div>

      <div id="roulette-picture">
        <%= image_tag "#{@recipe_name}.jpg" %>
      </div>
    
    </div> <!-- end of roulette -->
  </div> <!-- end of outer roulette -->

  <div class="col-md-2">
    <div id="open">
      <%= link_to "View", 'http://willbeinsertedby.js' %> 
    </div>
  </div>
</div> <!-- end of row1 -->
<br><br><br>
<div class="row" id="row2">
  <div class="col-md-2 contain-center">
    <div id="block">
      <%= button_to "Block", 'http://willbeinsertedby.js', {class: 'btn'} %>
    </div>
  </div>
</div> <!-- end of row2 -->

<script type="text/javascript">
  var list_of_recipe_names = <%= raw @list_of_recipe_names.to_json %>;
  <%= render 'roulettebuttons.js' %>
</script>
