<% if flash[:ingredienterror] %>
  <p class="error">
    <%= h flash[:ingredienterror] %>
  </p>
<% end %>

<div class="add-ingredient">
  <% # This form should link to an update route to add ingredients %>
  <%= form_for :ingredient do |i| %>
    Add Ingredient: <%= i.text_field :name %>
    <%= i.submit "Add Ingredient" %>
  <% end %>
</div>
<div class="pantry-list">
  <ul>
    <%= form_for(@pantry) do |f|%>
      <% @pantry.ingredients.each do |ingredient| %>
        <div class="pantry-ingredient">
          <%= hidden_field_tag "pantry[ingredient_ids][]", nil %>
          <%= check_box_tag "pantry[ingredient_ids][]", ingredient.id %>
          <%= label_tag dom_id(ingredient), ingredient.name %><br>
        </div>
      <% end %>
      <%= submit_tag "Delete Ingredients", class: "btn btn-default" %>
  	<% end %>
  </ul>
</div>